.signup-card{
    width:25rem;
    height:28rem;
    border:1px solid rgb(0, 0, 0);
    padding:1rem;

}
.signup-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10rem;
    text-align: center;
    flex-direction: column;
}
.bottom-card
{

}
.tnc
{
    width:22rem;
    padding :0.5rem;
    color: grey;
}